html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 3rem;
  }
  
  body {
    width: 800px;
    margin: 0 auto;
  }

  .imgRamenMain {
    height: 30vh;
    width: 20vw;
}
  
  h1, h2 {
    font-family: 'Faster One', cursive;
  }
  
      h1 {
    font-size: 4rem;
    text-align: center;
  }
      
  h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
  }
 